<h1>All Articles</h1>

<% if @articles %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article %></li>
    <% end %>
  </ul>
<% else %>
  <p>
    There aren't any articles yet.  <%= link_to "Add One Now", new_article_path %>
  </p>
<% end %>
