$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('people-coffee-notes-tea.jpg');
  background-size: cover;
  height: 450px;
}

.jumbotron h1 {
  color: #fff;
  text-shadow: 0 0 4px #000000;
  margin-bottom: 30px;
  font-weight: bold;
}

.btn-xl {
  font-size: 1.7em;
  background-color: black;
  border: 1px solid black;
}

.btn-xl:hover {
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-description {
  border-top: 1px solid #eaeaea;
  padding: 15px;
}
