<div class="container">
  <footer class="text-center">
    <small>&copy; 2016 | <a href="http://zacbaston.com" target="_blank">Zac Baston</a> | <a href="https://github.com/zacscodingclub/blogaments" target="_blank">Github</a></small>
  </footer>
</div>
